<pre>{{model | json}}</pre>
<div class="container">
    <form #heroForm="ngForm"
          (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name:</label>
            <input class="form-control"
                   type="text"
                   [(ngModel)]="model.name"
                   name="name"
                   id="name"
                   #theName="ngModel"
                   required>
        </div>
        <!-- <button (click)="log(form)">Show</button> -->
        <div class="form-group">
            <label for="power">Power:</label>
            <input class="form-control"
                   type="text"
                   [(ngModel)]="model.power"
                   name="power"
                   id="power">
        </div>
        <button type="submit"
                class="btn btn-success"
                [disabled]="!heroForm.form.valid">Submit</button>
    </form>
</div>